<p id="notice"><%= notice %></p>

<p>
  <strong>Start Time:</strong>
  <%= @recording.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @recording.end_time %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @recording.channel %>
</p>

<p>
  <strong>Video:</strong>
  <%= @recording.video %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
